<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aseupc.flattitude">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoflattitude"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <service
            android:name=".synchronization.SynchzonizationService"
            android:enabled="true"
            android:permission="com.paad.MY_SERVICE_PERMISSION" />
        <service
            android:name=".synchronization.ChangeUI"
            android:enabled="true"
            android:permission="com.paad.MY_SERVICE_PERMISSION" />

        <activity
            android:name=".Activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.GroupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_create_group"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LandingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisteringActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".Activities.CreateFlat"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4ELvDScoAPqOL78TS57VVhuCL62QXC84" />

        <activity
            android:name=".Activities.ObjectLocation.LocateObjectsActivity"
            android:label="@string/title_activity_locate_objects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.InvitationActivity"
            android:label="@string/title_activity_invitation"></activity>
        <activity
            android:name=".Activities.InvitationDetails"
            android:label="@string/title_activity_invitation_details"></activity>
        <activity
            android:name=".Activities.PlanningActivity"
            android:label="@string/title_activity_planning"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".Activities.NewTaskActivity"
            android:label="@string/title_activity_new_task"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.EditTaskActivity"
            android:label="@string/title_activity_edit_task"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".Activities.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".Activities.BudgetActivity"
            android:label="@string/title_activity_budget" >
        </activity>
    </application>

</manifest>
