<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aseupc.flattitude">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".synchronization.SynchzonizationService"
            android:enabled="true"
            android:permission="com.paad.MY_SERVICE_PERMISSION" />
        <service
            android:name=".synchronization.ChangeUI"
            android:enabled="true"
            android:permission="com.paad.MY_SERVICE_PERMISSION" />

        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Activities.GroupActivity"
            android:label="@string/title_activity_create_group" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".Activities.LandingActivity"
            android:label="@string/title_activity_landing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisteringActivity"
            android:label="@string/title_activity_registering" />
        <activity
            android:name=".Activities.TestActivity"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".Activities.CreateFlat"
            android:label="@string/title_activity_create_flat"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4ELvDScoAPqOL78TS57VVhuCL62QXC84" />

        <activity
            android:name=".Activities.ObjectLocation.LocateObjectsActivity"
            android:label="@string/title_activity_locate_objects"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
